<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carta de Correção</title>
  </head>

  {{!-- prettier-ignore --}}
  <style>
    body {
      padding: 0;
      margin: 0;
      width: 100vw;
      height: 100vh;
    }

    span {
      font-size: 14px;
    }

    .cce-container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      max-width: 960px;
    }
    
    .container {
      width: 100%;
      height: 100%;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .main-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .cce-info-area {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .top-area {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .header {
      width: 100%;
      display: flex;
      min-height: 160px;
    }

    .emitter-details-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 16px;
      border: 1px solid #000;
      border-radius: 8px;
      width: 50vw;
    }

    .logo-container {
      flex: 1;
    }

    .emitter-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }

    .emitter-name-text {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }

    .emitter-fantasy-name-text {
      text-align: center;
      font-size: 12px;
    }

    .emitter-address-text {
      text-align: center;
      font-size: 12px;
    }

    .emitter-phone-number-text {
      text-align: center;
      font-size: 12px;
    }

    .title-container {
      width: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #000;
      border-radius: 8px;
      border-left: none;
      padding: 4px 8px;
      
    }

    .title-container-top-area {
      display: flex;
      flex-direction: column;
      align-items: center;`
    }

    .title-text {
      font-size: 24px;
      font-weight: bold;
    }

    .subtitle-text {
      text-transform: uppercase;
      font-size: 10px;
      text-align: center;
    }

    .cce-details-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      text-align: center;
    }

    .cce-keys-container {
      width: 40vw;
      display: flex;
      flex-direction: column;
    }

    .bar-code-container {
      border: 1px solid #000;
      border-radius: 4px;
      border-left: none;
      border-bottom: none;
      padding: 4px;
    }

    .access-key-container {
      padding: 4px 8px;
      display: flex;
      flex-direction: column;
      border: 1px solid #000;
      border-radius: 4px;
      border-left: none;
      border-bottom: none;
    }

    .access-key-title-text {
      font-size: 12px;
      text-transform: uppercase;
    }

    .access-key-code {
      font-size: 10px;
      padding-left: 4px;
    }

    .access-key-information-container {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 4px 8px;
      border: 1px solid #000;
      border-radius: 4px;
      border-left: none;
    }

    .access-key-information-text {
      font-size: 10px;
      text-align: center;
    }

    .emitter-top-area {
      width: 100%;
      min-height: 160px;
      display: flex;
      gap: 16px;
    }

    .emitter-bottom-area {
      width: 100%;
      display: flex;
    }

    .emitter-detail-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      border: 1px solid #000;
      border-radius: 8px;
      border-left: none;
      padding: 4px;
    }

    .emitter-detail-container:first-child {
      border-left: 1px solid #000;
    }

    .emitter-detail-title {
      text-transform: uppercase;
      font-size: 12px;
    }

    .emitter-detail-value {
      padding-left: 8px;
    }

    .receiver-container-title-text {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .receiver-container {
      display: flex;
    }

    .receiver-detail-container {
      flex: 0.4;
      padding: 4px;
      border: 1px solid #000;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .receiver-name-container {
      flex: 1;
      border-right: none;
    }

    .receiver-detail-title {
      font-size: 12px;
      text-transform: uppercase;
    }

    .receiver-detail-value {
      padding-left: 8px;
    }
    
    .cce-law-container {
      border: 1px solid #000;
      border-radius: 8px;
      padding: 4px 4px 16px 4px;
    }

    .cce-law-text {
      font-size: 12px;
      font-style: italic;
    }

    .cce-corrections-container-title-text {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .cce-corrections-container {
      border: 1px solid #000;
      border-radius: 8px;
      padding: 8px;
      display: flex;
      min-height: 150px;
    }

    .cce-corrections-text {
      font-size: 16px;
      font-weight: bold;
    }

    .cce-legal-information-text {
      font-size: 10px;
      text-align: center;
    }
</style>

  <body>
    <div class="cce-container">
      <div class="container">
        <div class="main-container">
          <div class="cce-info-area top-area">
            <div class="header">
              <div class="emitter-details-area">
                <div class="logo-container">Logo</div>
                <div class="emitter-details">
                  <span class="emitter-name-text">{{emitente.nome}}</span>
                  <span
                    class="emitter-fantasy-name-text"
                  >{{emitente.fantasia}}</span>
                  <span class="emitter-address-text">
                    {{emitente.endereco}},
                    {{emitente.numero}}
                    {{emitente.bairro}}
                    -
                    {{emitente.municipio}}
                    /
                    {{emitente.uf}}
                    CEP
                    {{emitente.cep}}
                  </span>
                  <span class="emitter-phone-number-text">
                    Fone:
                    {{emitter.telefone}}
                  </span>
                </div>
              </div>
              <div class="title-container">
                <div class="title-container-top-area">
                  <span class="title-text">CCe</span>
                  <span class="subtitle-text">
                    Carta de Correção Eletrônica
                  </span>
                </div>
                <div class="cce-details-container">
                  {{! TODO: FIX THIS NUMBER }}
                  <span><b>Nº 288</b></span>
                  <span><b>SÉRIE: {{versaoEvento}}</b></span>
                </div>
              </div>
              <div class="cce-keys-container">
                <div class="bar-code-container">
                  <svg id="barcode"></svg>
                </div>
                <div class="access-key-container">
                  <span class="access-key-title-text">Chave de Acesso</span>
                  <span class="access-key-code">
                    {{chaveAcesso}}
                  </span>
                </div>
                <div class="access-key-information-container">
                  <span class="access-key-information-text">Consulta de
                    autenticidade no portal nacial da NF-e
                    www.nfe.fazenda.gov.br/portal ou no site da Sefaz
                    Autorizador</span>
                </div>
              </div>
            </div>
            <div class="emitter-bottom-area">
              <div class="emitter-detail-container">
                <span class="emitter-detail-title">CNPJ</span>
                <span class="emitter-detail-value">{{emitente.cnpj}}</span>
              </div>
              <div class="emitter-detail-container">
                <span class="emitter-detail-title">Incrição Estadual</span>
                <span class="emitter-detail-value">{{emitente.ie}}</span>
              </div>
              <div class="emitter-detail-container">
                <span class="emitter-detail-title">Sequência CCE</span>
                <span class="emitter-detail-value">{{numeroSequencia}}</span>
              </div>
            </div>
          </div>
          <div class="cce-info-area">
            <span class="receiver-container-title-text">Destinatário</span>
            <div class="receiver-container">
              <div class="receiver-detail-container receiver-name-container">
                <span class="receiver-detail-title">
                  Razão social/nome
                </span>
                <span class="receiver-detail-value">
                  {{destinatario.nome}}
                </span>
              </div>
              <div class="receiver-detail-container">
                <span class="receiver-detail-title">CNPJ/CPF</span>
                <span class="receiver-detail-value">{{destinatario.cnpj}}</span>
              </div>
            </div>
          </div>
          <div class="cce-info-area">
            <div class="cce-law-container">
              <span class="cce-law-text">A Carta de Correcao e disciplinada pelo
                paragrafo 1o-A do art. 7o do Convenio S/N, de 15 de dezembro de
                1970 e pode ser utilizada para regularizacao de erro ocorrido na
                emissao de documento fiscal, desde que o erro nao esteja
                relacionado com: I - as variaveis que determinam o valor do
                imposto tais como: base de calculo, aliquota, diferenca de
                preco, quantidade, valor da operacao ou da prestacao; II - a
                correcao de dados cadastrais que implique mudanca do remetente
                ou do destinatario; III - a data de emissao ou de saida.</span>
            </div>
          </div>
          <div class="cce-info-area">
            <span class="cce-corrections-container-title-text">Correções a Serem
              Consideradas</span>
            <div class="cce-corrections-container">
              <span class="cce-corrections-text">{{correcao}}</span>
            </div>
          </div>
        </div>
        <span class="cce-legal-information-text">Este documento é uma
          representação gráfica da CCe e foi impresso apenas para sua informação
          e não possue validade fiscal. A CCe deve ser recebida e mantida em
          arquivo eletrônico XML e pode ser consultada através dos Portais das
          SEFAZ.</span>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/jsbarcode@3.8.0/dist/JsBarcode.all.min.js"
  >

  </script>
  <script>
    JsBarcode("#barcode", "{{chaveAcesso}}", { displayValue: false, height: 36,
    width: 1 })
  </script>

</html>